$colors: (
  neutral: (
    100: #ffff,
    300: #3c516f,
    400: #2a394e,
    600: #14243c,
    800: #000000,
  ),
  primary: (
    100: #ffdc00,
    200: #9fe6a0,
    300: #dab9ee,
  ),
  hover: (
    100: #e93b81,
  ),
);
